 
Lesson 8.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Lesson 8.xcodeproj/project.xcworkspace/xcuserdata/egorilchenko.xcuserdatad/UserInterfaceState.xcuserstate
Lesson 8.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lesson 8.xcodeproj/xcuserdata/egorilchenko.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
Lesson 8/Lesson 8.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
